.ng-slider-container {
    width: 80%;
    height: 330px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #b7b7b7;
    box-shadow: 0 0 10px black;
    border-radius: 6px;
}

.ng-slides {
    width: 100%;
}

.ng-slide {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #3b3b3b;
    border-top: none;
    color: white;
    box-shadow: 0 0 5px black;
    padding: 20px;
}

    .ng-slide .ng-slide-content {
        height: 210px;
    }

        .ng-slide .ng-slide-content div, 
        .ng-slide .ng-slide-content > img {
            max-height: 200px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .ng-slide .ng-slide-content img {
            max-width: 100%;
        }

.ng-slide-title {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px black;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
}

.ng-slider-trackers {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.ng-slider-tracker {
    background-color: #FFC44C;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    box-shadow: 0 0 3px black;
    margin: 0 4px;
}

.ng-slider-tracker-active {
    background-color: #325dc6;
}

/*mobile styles*/

@media only screen and (max-width : 400px) {
    .ng-slider-container {
        width: 100%;
    }

    .ng-slide {
        width: 90%;
    }

        .ng-slide .ng-slide-content img {
            max-height: initial;
            max-width: 100%;
            max-height: 200px;
        }
}
