<div class="header">
    <div class="nav">
        <ul class="nav-list">
            <li>
                <a href="#/pages/home">Home</a>
            </li>
            <li>
                <a href="#/pages/blog">Blog</a>
            </li>
            <li>
                <a href="#/pages/portfolio">Portfolio</a>
            </li>
            <li>
                <a href="#/pages/consulting">Consulting</a>
            </li>
            <li>
                <a href="#/pages/about">About</a>
            </li>
        </ul>
    </div>
</div>
