<div class="header">
    <div class="nav">
        <ul class="nav-list" style="display: none;">
            <li>
                <a href="#/pages/home">Home</a>
            </li>
            <li>
                <a href="#/pages/articles">Blog</a>
            </li>
            <li>
                <a href="#/pages/portfolio">Portfolio</a>
            </li>
            <li>
                <a href="#/pages/consulting">Consulting</a>
            </li>
            <li>
                <a href="#/pages/about">About</a>
            </li>
        </ul>
    </div>
</div>
<script>
    require(["jquery"], function($) {
        require(["slickNav"], function() {
            $(function() {
                $(".nav-list").slicknav({
                    label: ""
                });
            });
        });
    });
</script>