<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!--/Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!--Fonts/-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/css/bootstrap-material-design.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/css/ripples.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/css")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js"></script>
    <script type="text/javascript">
        require.config({
            baseUrl: '/Scripts'
        });
        require.jacobheater = {
            dependencies: [],
            init: function () {
                require(this.dependencies, function () { });
            }
        };
    </script>
</head>
<body>
    <div ng-controller="MasterController as master">
        <!--/Menu-->
        <div class="menu-container">
            <super-menu items="master.menu.menuItems" menu-speed="master.menu.menuSpeed" button-speed="master.menu.buttonSpeed" />
        </div>
        <!--Menu/-->
        <!--/Header-->
        <div class="header-content header-stack">
            <div class="header-logo">
                <a href="#/">
                    <h1>Jacob</h1>
                    <h1>Heater</h1>
                </a>
            </div>
        </div>
        <div class="header-stack header-stack-1"></div>
        <div class="header-stack header-stack-2"></div>
        <!--Header/-->
        <!--/Content-->
        <div class="main-content">
            <div ng-cloak>
                @RenderBody()
            </div>
        </div>
        <!--Content/-->
        <!--/Social Buttons-->
        <div class="social-buttons-container">
            <div class="social-button-mobile">
                <div class="social-button-mobile-dot"></div>
                <div class="social-button-mobile-dot"></div>
                <div class="social-button-mobile-dot"></div>
            </div>
            <div class="social-buttons">
                <div class="social-button">
                    <a href="http://stackoverflow.com/users/2023218/jacob-heater" target="_blank">
                        <img src="~/Images/Icons/so-icon.png" alt="Stack Overflow" title="Find me on Stack Overflow!" class="social-button-img" style="width: 60px;" />
                    </a>
                </div>
                <div class="social-button">
                    <a href="https://github.com/jacobheater" target="_blank">
                        <img src="~/Images/Icons/Octocat.png" alt="GitHub" title="Find me on GitHub!" class="social-button-img" />
                    </a>
                </div>
                <div class="social-button">
                    <a href="https://www.linkedin.com/pub/jacob-heater/18/494/724" target="_blank">
                        <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_liprofile_blue_80x15.png" border="0" alt="View Jacob Heater's profile on LinkedIn" title="Find me on LinkedIn!">
                    </a>
                </div>
                <div class="social-button">
                    <a href="https://codefights.com/profile/jacobheater" target="_blank">
                        <img src="https://codefights.com/img/bots/avatars/cfbot.jpg" alt="CodeFights" title="Find me on CodeFights!" class="social-button-img" style="border-radius: 100%;" />
                    </a>
                </div>
            </div>
        </div>
        <!--Social Buttons/-->
    </div>
    <!--Angular-->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>*@
    <!--Bootstrap Core w/ jQuery-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
    <!--Bootstrap Material-->
    <script src="~/Scripts/material.min.js"></script>
    <script src="~/Scripts/ripples.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/js/ripples.min.js"></script>*@
    <script type="text/javascript">
        $.material.init();
        
        require.jacobheater.dependencies.push('jacobheater.angular.directive.menu');
        require.jacobheater.dependencies.push('jacobheater.angular.bootstrapper');
        require.jacobheater.dependencies.push('jacobheater.socialbutton.handlers');
        var init = function (time) {
            setTimeout(function () {
                require.jacobheater.init();
                if ($('.super-menu-container').length <= 0) {
                    init(time + 100);
                }
            }, time);
        };
        init(100);
    </script>
</body>
</html>
