<div class="about">
    <link href="./styles/about.css" type="text/css" rel="stylesheet">
    <div class="portrait">
        <img src="../../resources/images/mason.jpg" title="Mason!" alt="Mason!" />
    </div>
    <div class="bio">
        <div class="bio-content">
            <div class="heading-lg">Hello, world!</div>
            <div class="hr"></div>
            <div class="para">
                My name is Jacob Heater! Thanks for stopping by! Let me tell you a little bit about myself. I am passionate about software architecture, and to prove it, I built this app from a single-page-application framework that I wrote myself called dsrtJS! When
                I am not programming for pay, I'm programming for play.
            </div>
            <div class="para">
                Of course, you're probably wondering by now if all I do is program. Of course the answer is no! I am a father, a husband, and I am a follower of Jesus Christ. I love my family, and I enjoy going out on scenic drives, to parks, and getting outdoors. I
                also play the guitar and piano, and I enjoy writing my own music. I am very artistic person, but I am also a very scientific person.
            </div>
            <div class="para">
                One fact that many people probably don't know about me is that I speak Spanish and Chinese fluently. I lived in China for nearly two years after graduating from college, and I picked up the language very quickly. Learning other languages comes very quickly
                to me. I can also read and write Chinese, sing Chinese songs (I was very good at karaoke), and I have written some classical Chinese poetry.
            </div>
            <div class="para">
                If you want to keep up with what I am doing, follow me using the links below!
            </div>
            <br />
            <div class="social">
                <button>
                    Facebook
                </button>
                <button>
                    Twitter
                </button>
                <button>
                    GitHub
                </button>
                <button>
                    StackOverflow
                </button>
            </div>
        </div>
    </div>
</div>